{% extends "base.html" %}

{% block title %}Origin - V L V 道場{% endblock %}

{% block content %}
    <section class="mb-4">
        <img src="{{ url_for('static', filename='images/54f81331a9da88c623b96363fb0a4da1.gif') }}" class="img-fluid rounded" alt="Origin banner">
    </section>
    <article class="card">
        <div class="card-body">
            <h2 class="card-title">About Us</h2>
            <p class="card-text">How it all started</p>
            <p class="card-text">Honestly,We don't have enough money at the time of my childhood but my uncle who has a bit taste in his life he always buys the things which are in trend lucky me at that time microsoft launched a new monitor and he brought it first we used to see movies in them.The first game we installed in the laptop was road rash huh.... remembering of the OG game it was nice to play . And so on the itch made us to play different games and so on.</p>
            <p class="card-text">As the days changes we moved away from my uncle's . Good for me the destroyer is launched for who don't know what a destroyer is ,It is a thing which you will conect ot the tv and play games in it. It is the starting of the 8bit era ,The animations the physics china and japan was ruling that era. We always played the legendary Street Fighter and the Mortal combat</p>
            <h3 class="mt-4">Reason for this website</h3>
            <p class="card-text">This is a project for my end semister</p>
            <h3 class="mt-4">So in conclusion ...</h3>
            <p class="card-text">Gaming provides a unique and immersive experience, allowing players to explore vast virtual worlds, engage in thrilling adventures, and unleash their creativity through interactive gameplay.</p>
        </div>
    </article>
{% endblock %}

								